div {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-between;
    background-color: #120a8f;
    align-items: center;
}

nav {
    background-color: #red;
    display: flex;

}
.tM{
    width: 50%;
}
.TM{
    width: 30%;
    margin-left: 60%;
}
.sP{
   margin-right: 3%;
}
a {
    color: #FFF
}
