<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% if request.user.is_authenticated %}
    <title>BEM VINDO {{request.user.username}}</title>
      {% else %}
    <title>HOME</title>
    {% endif %}

</head>
<body>
<header>
    <div>
        <nav class="tM" >
      <h2 style="margin-left: 1%">
        <a href="{% url 'index' %}" title="Fabrica de Software">Fábrica de Software</a>
      </h2>
        </nav>

      <nav class="TM">
          <h6 class="sP">
              <a href="{% url 'index' %}" tittle="Home">Home</a>
          </h6>
          <h6 class="sP">
              <a href="#login" tittle="Login">Login</a>
          </h6>
          <h6>
              <a href="#registrar" tittle="Registrar">Registrar</a>
          </h6>
      </nav>
    </div>
</header>





</body>
</html>